@(loginForm: Form[_])
@import helper._

@main("login") {

    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h1>Login</h1>
        </div>
    </div>

    <div id="login" class="row">

        <div class="col-xs-6 col-sm-4">
            @helper.form(routes.LoginMgr.checkLogin(), 'class -> "form-horizontal", 'role -> "form") {

                @if(loginForm.hasGlobalErrors) {
                    <p class="alert alert-danger">
                    @loginForm.globalError.message
                    </p>
                }

                @inputText(
                    loginForm("email"),
                    '_showConstraints -> false,
                    '_label -> "E-mail"
                )

                @inputPassword(
                    loginForm("password"),
                    '_showConstraints -> false,
                    '_label -> "Password"
                )

                <button type="submit" class="btn btn-default">Login</button>

                <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">Forgot password</a>

            }
        </div>

    </div>

}