@(signupForm: Form[_])
@import helper._

@main("signup") {

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h1>Sign Up</h1>
            </div>
        </div>

        <div id="signup" class="row">

            <div class="col-xs-6 col-md-4">
                @helper.form(routes.Signup.doSignup, 'class -> "form-horizontal", 'role -> "form") {

                    @if(signupForm.hasGlobalErrors) {
                        <p class="alert alert-danger">
                        @signupForm.globalError.message
                        </p>
                    }

                    @inputText(
                        signupForm("name"),
                        '_label -> "Name"
                    )

                    @inputText(
                        signupForm("email"),
                        '_showConstraints -> false,
                        '_label -> "E-mail"
                    )

                    @inputPassword(
                        signupForm("password"),
                        '_label -> "Password"
                    )
                    @inputPassword(
                        signupForm("repeatPassword"),
                        '_label -> "Confirm Password",
                        '_showConstraints -> false,
                        '_error -> signupForm.error("password")
                    )

                    <button type="submit" class="btn btn-default">Sign Up</button>
                }
            </div>

        </div>
    </div>

}