<meta charset="utf-8">

<style>
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgs5W16LcAsTbhW_t9LfSY_ncLZa1yEJE"></script>

<script>
    var map;
    function initialize() {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng(-34.397, 150.644)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        sizeMap();
    }

    function sizeMap() {
        var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset

        $('#map-canvas').css('height', (h - offsetTop));
    }

    $(window).resize(function () {
        sizeMap();
    }).resize();

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div class="container">
    <div id="map-canvas" style="max-height: 500px;"></div>
</div>
